{% extends "bork.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% block content %}
    <p class="ptag">This is About</p>
    <p class="ptag">About: {{ about }}</p>
    <p class="ptag">About: {{ about }}</p>
    <p class="ptag">Goal: {{ goal }}</p>
    <p class="ptag">Objective: {{ objective }}</p>
    <p class="ptag">Mission: {{ mission }}</p>
    {% endblock content %}    
</body>
</html>