{% extends "bork.html" %}


{% block content %}
    {% comment %} {{ items }} {% endcomment %}
    <h3>Cars:</h3>
        <table class="table table-hover table-dark">
            <tr>
                <th>Car ID</th>
                <th>Car Brand</th>
                <th>Car Drive</th>
                <th>Car Fuel</th>
                <th>Car Mileage</th>
                <th>Car Owner</th>
                <th>Car Active</th>
                <th>Delete Car</th>
                <th>Update Car</th>
        </tr>
    {% for i in items %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.brand }}</td>
                <td>{{ i.drive }}</td>
                <td>{{ i.fuel }}</td>
                <td>{{ i.mileage }}</td>
                <td>{{ i.owner }}</td>
                <td>{{ i.active }}</td>
                <td><a href="http://localhost:8000/products/delete_car/{{ i.id }}">Delete</a></td>
                <td><a href="http://localhost:8000/products/view_cars/{{ i.id }}">View</a></td>
            </tr>
        <!-- <p>{{ i.id }} {{ i.brand }} - {{ i.drive }} - {{ i.fuel }} - {{ i.mileage }} - {{ i.owner }} - {{ i.active }}</p> -->
    {% endfor %}
        </table>
{% endblock content %}