
{% extends "bork.html" %}

{% block content %}

    <form action="" method="get"> {% csrf_token %}
        <label for="username">username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit" value="Save" id="login_btn">Submit</button>
        <h3>check server for login details</h3>
        <p class="ptag">{{ x }}</p>

    </form>

{% endblock content %}