{% extends "bork.html" %}

{% block content %}
    {% comment %} {{ items }} {% endcomment %}
    <h3>Products:</h3>
        <table class="table table-hover table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Avail</th>
                <th>summary</th>
                <th>Delete Product</th>
                <th>View Products</th>
            </tr>
    {% for i in items %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.desc }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.avail }}</td>
                <td>{{ i.summary }}</td>
                <td><a href="http://localhost:8000/products/delete_product/{{ i.id }}">Delete</a></td>
                <td><a href="http://localhost:8000/products/view_products/{{ i.id }}">View</a></td>
            </tr>
        <!-- <p> {{ i.id }} {{ i.name }} - {{ i.desc }} - {{ i.price }} - {{ i.avail }} - {{ i.summery }}</p> -->
    {% endfor %}
        </table>
{% endblock content %}